<!--The content below is only a placeholder and can be replaced.-->
<!-- LOADER -->
<div id="preloader">
    <div class="loader">
        <img src="images/loader.gif" alt="#" />
    </div>
</div>
<!-- end loader -->
<!-- END LOADER -->
<header class="top-header"> 
<nav class="navbar header-nav navbar-expand-lg">         
  <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../images/cafe.PNG" alt="logo image"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                  <ul class="navbar-nav">
                      <li><a class="nav-link active" href="index.html">Home</a></li>
                      <li><a class="nav-link" href="about.html">Aboutus</a></li>
                      <li><a class="nav-link" href="cycv.html">Our Services</a></li>
                      <li><a class="nav-link" href="cycv.html">Notice</a></li>
                      <li><a class="nav-link" href="cycv.html">Alert</a></li>
                      <li><a class="nav-link" href="contact.html">Contact Us</a></li>
                      <li><a class="nav-link active" style="background:#fff;color:#000;" href="contact.html">Sinup now</a></li>
                  </ul>
              </div>
              <div class="search-box">
                  <input type="text" class="search-txt" placeholder="Search">
                  <a class="search-btn">
                      <img src="images/search_icon.png" alt="#" />
                  </a>
              </div>
          </div>
      </nav>
    </header>
    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" ng-style="background-image:url(../images/student.jpg)">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text info">
                                        <h3><span class="theme_color">EASILY</span> ONLINE SERVICES</h3>
                                        <br>
                                        <h4>ONLINE SERIVES<br>RESUME IN MINUTES</h4>
                                        <br>
                                        <p>Showcase your Profile to the world
                                            <br>using online CV builder and Get Hired Faster</p>
                                        <a class="contact_bt" href="#">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="pogoSlider-slide" style="background-image:url(../images/peasant.jpg);"> 
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span class="theme_color">Hirdesh</span> InterNet Cafe</h3>
                                        <br>
                                        <h4>हम आपको देंगे<br> सपनो की उड़ान</h4>
                                        <br>
                                        <p>Show your interest to get join
                                            <br>using online services and Get good news soon</p>
                                        <a class="contact_bt" href="#">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url('../images/army.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span class="theme_color">Hirdesh</span> InterNet Cafe</h3>
                                        <br>
                                        <h4>हम आपको देंगे<br> सपनो की उड़ान</h4>
                                        <br>
                                        <p>Show your interest to get join
                                            <br>using online services and Get good news soon</p>
                                        <a class="contact_bt" href="#">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full center">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color">हम आपको देंगे </span> सपनो की उड़ान</h2>
                            <p class="large">कुछ आसान चरणों में अपनी सेवाएं प्राप्त करें!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<router-outlet></router-outlet>
